.bulma-placeholder-mixin {
  @include placeholder {
    color: lightblue;
  }
}

.bulma-ltr-rtl-mixin {
  padding: 0.5em 1em;
  margin-right: -1px;
}

.active-style {
  font-size: large;
  color: blue;
}

.new-style {
  font-size: large;
  color:red ;
}

.sub-heading-style {
  font-size: x-large;
  color:black;
}

.heading-style{
  font-size: xx-large;
  font-weight: 600;
  color: black;
  margin-bottom: 30px;
}

.hero-body{
  font-size: 3rem;
  font: has-text-centered;
}